.image-8-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 120rem;
    height: 60.56rem;
    object-fit: cover;
}
.middlebox {
    position: absolute;
    height: 48.09%;
    width: 72.92%;
    top: 26.93%;
    right: 10.21%;
    bottom: 24.97%;
    left: 16.88%;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 10px 30px rgba(112, 136, 210, 0.2);
}
.memberprofile,
.org-3-icon {
    position: absolute;
    width: 14.75rem;
    height: 14.75rem;
}
.org-3-icon {
    top: 0;
    left: 0;
    border-radius: 100px;
    object-fit: cover;
}
.memberprofile {
    top: 10.5rem;
    left: 14.69rem;
}
.memebersmypage {
    position: absolute;
    top: 12.94rem;
    left: 30.38rem;
    font-family: "Black Han Sans";
}
.followtext {
    position: absolute;
    top: 0;
    left: 0.31rem;
}
.follownumber {
    position: absolute;
    top: 2.19rem;
    left: 0;
}
.followbox {
    position: absolute;
    top: 18.56rem;
    left: 34.81rem;
    width: 4.44rem;
    height: 3.75rem;
    font-size: 1.5rem;
}
.followingnumber {
    position: absolute;
    top: 2.19rem;
    left: 0.31rem;
}
.followingtext {
    position: absolute;
    top: 0;
    left: 0;
}
.followingbox {
    position: absolute;
    top: 18.56rem;
    left: 44.25rem;
    width: 3.63rem;
    height: 3.75rem;
    font-size: 1.5rem;
}
.onelineinfotext,
.onelinetext {
    position: absolute;
    width: 77.44rem;
    height: 5.75rem;
}
.onelinetext {
    top: 0;
    left: 0;
    display: inline-block;
}
.onelineinfotext {
    top: 4.13rem;
    left: 1.06rem;
}
.onelinertext {
    position: absolute;
    top: 0.75rem;
    left: 3.35rem;
    font-weight: 500;
    display: inline-block;
    width: 7.65rem;
}
.communicationicon {
    position: absolute;
    top: calc(50% - 24px);
    left: calc(50% - 88px);
    width: 3.22rem;
    height: 3rem;
    overflow: hidden;
}
.onelinerbox {
    position: absolute;
    top: 0;
    left: 0;
    width: 11rem;
    height: 3rem;
    font-size: 1.5rem;
    font-family: "KBO Dia Gothic";
}
.myinfobox {
    position: absolute;
    top: 33.44rem;
    left: 25.19rem;
    width: 78.5rem;
    height: 9.88rem;
    font-family: "SF Pro Text";
}
.wepli {
    margin: 0;
}
.mypagetext2 {
    position: absolute;
    top: 0;
    left: 4.38rem;
    display: inline-block;
    width: 7.5rem;
    height: 4.38rem;
    transform: rotate(90deg);
    transform-origin: 0 0;
}
.bottomtitletext {
    position: absolute;
    top: 49.94rem;
    left: 112.81rem;
    width: 4.38rem;
    height: 7.5rem;
    font-size: 1.88rem;
    color: #fff;
    font-family: "Space Grotesk";
}
.mypagetext,
.toptitletext {
    position: absolute;
    transform-origin: 0 0;
}
.mypagetext {
    top: 0;
    left: -4.37rem;
    display: inline-block;
    width: 7.94rem;
    height: 4.38rem;
    transform: rotate(-90deg);
}
.toptitletext {
    top: 11.06rem;
    left: 11.56rem;
    width: 4.38rem;
    height: 7.94rem;
    transform: rotate(-180deg);
    font-size: 1.88rem;
    color: #fff;
    font-family: "Space Grotesk";
}
.mypageweplilogo-icon,
.mypageweplilogobox {
    position: absolute;
    width: 9.38rem;
    height: 10.18rem;
}
.mypageweplilogo-icon {
    top: 0;
    left: 0;
    object-fit: cover;
}
.mypageweplilogobox {
    top: 4.56rem;
    left: 98.44rem;
}
.surface {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 20px;
    background-color: #a649da;
    box-shadow: 10px 10px 10px red;
    opacity: 0.15;
    mix-blend-mode: normal;
}
.changeinfolabel {
    position: absolute;
    width: 59%;
    top: calc(50% - 10px);
    left: 20.5%;
    font-weight: 500;
    display: inline-block;
}
.changeinfobox,
.changeinfobutton {
    position: absolute;
    top: calc(50% - 20px);
    width: 12.5rem;
    height: 2.5rem;
}
.changeinfobutton {
    left: calc(50% - 100px);
    border-radius: 20px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}
.changeinfobox {
    left: calc(50% - 600px);
}
.emailsendlabel {
    position: absolute;
    width: 50.5%;
    top: calc(50% - 10px);
    left: 25%;
    font-weight: 500;
    display: inline-block;
}
.emailsendbox {
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 350px);
    width: 12.5rem;
    height: 2.5rem;
}
.blacklistlabel {
    position: absolute;
    width: 68%;
    top: calc(50% - 10px);
    left: 16%;
    font-weight: 500;
    display: inline-block;
}
.blacklistbox {
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% + 150px);
    width: 12.5rem;
    height: 2.5rem;
}
.secessionlabel {
    position: absolute;
    width: 40.5%;
    top: calc(50% - 10px);
    left: 30%;
    font-weight: 500;
    display: inline-block;
}
.hpsendbox,
.mypagemenu,
.secessionbox {
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% + 400px);
    width: 12.5rem;
    height: 2.5rem;
}
.hpsendbox,
.mypagemenu {
    left: calc(50% - 100px);
}
.mypagemenu {
    top: calc(50% - 62.5px);
    left: calc(50% - 536px);
    width: 75rem;
    font-size: 1.25rem;
    color: #a649da;
    font-family: "KBO Dia Gothic";
}
.mypageframe {
    position: relative;
    width: 100%;
    height: 60.56rem;
    overflow: hidden;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    text-align: left;
    font-size: 2rem;
    color: #000;
    font-family: "BM Hanna Air";
}
