.div {
  position: absolute;
  top: calc(50% - 548px);
  left: 14.06rem;
  display: inline-block;
  width: 16.5rem;
}
.group-child {
  border-radius: var(--br-21xl);
  background-color: var(--color-white);
}
.group-child,
.rectangle-wrapper,
.together-1-icon {
  position: absolute;
  top: calc(50% - 217.5px);
  left: 0;
  width: 61.25rem;
  height: 27.19rem;
}
.together-1-icon {
  border-radius: var(--br-21xl);
  width: 61.31rem;
  object-fit: cover;
}
.div1,
.div2 {
  position: absolute;
  top: calc(50% - 189.5px);
  left: 2rem;
}
.div2 {
  top: calc(50% - 153.5px);
  font-size: var(--font-size-21xl);
}
.group-div {
  position: absolute;
  top: calc(50% + 14px);
  left: 0;
  width: 61.31rem;
  height: 27.19rem;
}
.group-item {
  position: absolute;
  top: calc(50% - 200px);
  right: 0;
  border-radius: var(--br-21xl);
  background: linear-gradient(
                  125.69deg,
                  #260c5a,
                  rgba(50, 34, 53, 0.6) 49.45%,
                  rgba(9, 24, 70, 0)
  );
  width: 29.69rem;
  height: 25rem;
}
.div3 {
  position: absolute;
  top: calc(50% - 172px);
  right: 21.38rem;
  font-size: var(--font-size-xl);
  text-align: center;
}
.p {
  margin: 0;
}
.div4 {
  position: absolute;
  top: calc(50% - 108px);
  right: 4.81rem;
  display: inline-block;
  width: 22.88rem;
  height: 9.81rem;
}
.headphone-1-icon {
  position: absolute;
  top: calc(50% + 90px);
  right: 2rem;
  width: 5rem;
  height: 5.13rem;
  object-fit: cover;
}
.group-inner,
.rectangle-parent {
  position: absolute;
  width: 29.69rem;
  height: 25rem;
}
.rectangle-parent {
  top: calc(50% - 449px);
  right: 31.63rem;
  text-align: left;
  font-size: var(--font-size-21xl);
}
.group-inner {
  top: calc(50% - 200px);
  left: 0;
  border-radius: var(--br-21xl);
  background: linear-gradient(
                  125.34deg,
                  #293f36,
                  rgba(30, 41, 60, 0.53) 50%,
                  rgba(20, 22, 44, 0)
  );
}
.div6,
.div7 {
  position: absolute;
  top: calc(50% - 172px);
  left: 2rem;
}
.div7 {
  top: calc(50% - 108px);
  font-size: var(--font-size-21xl);
  text-align: left;
  display: inline-block;
  width: 22.88rem;
  height: 9.81rem;
}
.gr-2-icon {
  position: absolute;
  top: calc(50% + 68px);
  left: 21.19rem;
  width: 6.5rem;
  height: 6.5rem;
  object-fit: cover;
}
.group-container,
.rectangle-group {
  position: absolute;
  top: calc(50% - 449px);
  left: 31.56rem;
  width: 29.69rem;
  height: 25rem;
}
.group-container {
  left: 14.38rem;
  width: 61.31rem;
  height: 56.13rem;
  font-size: var(--font-size-xl);
}
.rectangle-div {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-21xl);
  background-color: var(--color-palevioletred);
  box-shadow: 0 5px 10px rgba(55, 46, 46, 0.25) inset;
  width: 8.75rem;
  height: 2.5rem;
}
.div8 {
  position: absolute;
  top: 0.5rem;
  left: 1.75rem;
}
.rectangle-container {
  position: absolute;
  top: 4.75rem;
  left: 66.94rem;
  width: 8.75rem;
  height: 2.5rem;
  font-size: var(--font-size-lgi);
}
.desktop1440px {
  background-color: #000;
  overflow: hidden;
}
.desktop1440px,
.desktop1440px-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 90rem;
  height: 75rem;
}
.div9 {
  top: 0;
  display: inline-block;
  width: 38.63rem;
  height: 8.06rem;
}
.div10,
.div9,
.wrapper {
  position: absolute;
  left: 0;
}
.wrapper {
  top: 7.94rem;
  width: 38.63rem;
  height: 8.06rem;
}
.div10 {
  top: 0;
}
.rectangle-parent1 {
  position: absolute;
  top: 1.5rem;
  left: 48.75rem;
  width: 8.75rem;
  height: 2.5rem;
  text-align: center;
  font-size: var(--font-size-lgi);
}
.group-parent2,
.parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 57.5rem;
  height: 5.5rem;
  font-size: var(--font-size-51xl);
  color: var(--color-white);
}
.group-parent2 {
  height: 16rem;
  font-size: var(--font-size-6xl);
  color: var(--color-darkgray);
}
.div12 {
  top: 0;
  left: 0;
  display: inline-block;
  height: 2.56rem;
}
.div12,
.div13,
.group {
  position: absolute;
  width: 29.69rem;
}
.div13 {
  top: 2.63rem;
  left: 0;
  font-size: var(--font-size-6xl);
  color: var(--color-darkgray);
  display: inline-block;
  height: 4.69rem;
}
.group {
  top: 0;
  left: 33.75rem;
  height: 7.31rem;
}
.group-child2 {
  border-radius: var(--br-21xl);
  background: linear-gradient(
                  125.34deg,
                  #ba2f4f,
                  rgba(156, 51, 96, 0.53) 50%,
                  rgba(142, 53, 106, 0)
  );
}
.group-child2,
.rectangle-frame {
  position: absolute;
  top: calc(50% - 200px);
  left: 0;
  width: 29.69rem;
  height: 25rem;
}
.container,
.group-parent3 {
  position: absolute;
  top: 21.19rem;
  left: 0;
  width: 63.44rem;
  height: 25rem;
}
.container {
  top: 1.56rem;
  width: 29.69rem;
  height: 7.31rem;
}
.group-child3,
.rectangle-wrapper1 {
  position: absolute;
  top: calc(50% - 200px);
  width: 29.69rem;
  height: 25rem;
}
.group-child3 {
  left: 0;
  border-radius: var(--br-21xl);
  background: linear-gradient(
                  125.34deg,
                  #1623a6,
                  rgba(51, 67, 212, 0.53) 50%,
                  rgba(23, 94, 172, 0)
  );
}
.rectangle-wrapper1 {
  left: 33.75rem;
}
.group-parent4 {
  position: absolute;
  top: 46.19rem;
  left: 0;
  width: 63.44rem;
  height: 25rem;
}
.div16,
.parent1 {
  position: absolute;
  width: 29.69rem;
}
.div16 {
  top: 0;
  left: 0;
  display: inline-block;
}
.parent1 {
  top: 1.56rem;
  left: 33.75rem;
  height: 7.31rem;
}
.group-parent1,
.group-parent5 {
  position: absolute;
  width: 63.44rem;
}
.group-parent5 {
  top: 71.19rem;
  left: 0;
  height: 25rem;
}
.group-parent1 {
  top: 5.5rem;
  left: 16.25rem;
  height: 96.19rem;
}
.frame-wrapper,
.group-wrapper {
  position: absolute;
  left: 0;
  width: 90rem;
  height: 112.5rem;
}
.group-wrapper {
  top: 0;
  background-color: #000000;
  overflow: hidden;
}
.frame-wrapper {
  top: 75rem;
  text-align: left;
  font-size: var(--font-size-16xl);
}
.group-parent {
  position: relative;
  width: 90rem;
  margin: 0 auto;
  height: 187.5rem;
  text-align: center;
  font-size: var(--font-size-51xl);
  color: var(--color-white);
  font-family: var(--font-black-han-sans);
}

:root {
  /* fonts */
  --font-black-han-sans: "Black Han Sans";

  /* font sizes */
  --font-size-6xl: 1.56rem;
  --font-size-16xl: 2.19rem;
  --font-size-lgi: 1.19rem;
  --font-size-51xl: 4.38rem;
  --font-size-21xl: 2.5rem;
  --font-size-xl: 1.25rem;

  /* Colors */
  --color-darkgray: #a1a1a6;
  --color-white: #fff;
  --color-palevioletred: #f68aae;

  /* border radiuses */
  --br-21xl: 40px;
}

body{
  background: black;
}