.sideweplilogo-icon {
    position: relative;
    width: 3.5rem;
    height: 4.36rem;
    object-fit: cover;
}
.sidebarheader {
    position: absolute;
    top: 3.75rem;
    left: 0.44rem;
    width: 3.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.playlistoutlinebox {
    position: absolute;
    width: 3.13rem;
    height: 3.13rem;
    top: 0;
    left: 0;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.sideplaylisticon {
    position: absolute;
    top: 0.31rem;
    left: 0.31rem;
    width: 2.5rem;
    height: 2.5rem;
    overflow: hidden;
    cursor: pointer;
}
.playlisticon {
    position: absolute;
    height: 5.16%;
    width: 71.43%;
    top: 47.37%;
    right: 14.29%;
    bottom: 47.47%;
    left: 14.29%;
}
.homeoutlinebox {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    width: 3.13rem;
    height: 3.13rem;
}
.sidehomeicon {
    position: absolute;
    top: 0.31rem;
    left: 0.31rem;
    width: 2.5rem;
    height: 2.5rem;
    overflow: hidden;
}
.homeicon {
    position: absolute;
    top: 21.38rem;
    left: 0.63rem;
    width: 3.13rem;
    height: 3.13rem;
    cursor: pointer;
}
.sideprofileimg-icon {
    position: absolute;
    top: 0.31rem;
    left: 0.31rem;
    border-radius: 50px;
    width: 2.5rem;
    height: 2.5rem;
    object-fit: cover;
}
.sidebarfooter {
    position: absolute;
    top: 53.13rem;
    left: 0.63rem;
    width: 3.13rem;
    height: 3.13rem;
}
.stageicon,
.stageicon1 {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    width: 2.13rem;
    height: 2.13rem;
}
.stageicon {
    top: 35.81rem;
    left: 0.63rem;
    width: 3.13rem;
    height: 3.13rem;
    cursor: pointer;
}
.weplisidebar {
    position: relative;
    background: linear-gradient(
            180deg,
            rgba(255, 255, 255, 0.7),
            rgba(255, 255, 255, 0.36)
    );
    /*box-shadow: 13.494479179382324px 14.993866920471191px 94.46px*/
    /*rgba(0, 0, 0, 0.24);*/
    width: 100%;
    height: 61rem;
    overflow: hidden;
}

.weplisidebar{
    position: fixed;
    z-index: 100;
    width: 70px;
    height: 100%;
}

.sidebarlogoutbtn{
    font-size: 1px;
    width: 6vw;
    height: 3vh;
    cursor: pointer;
}

.sidebarlogoutbtngroup{
    border: 1px solid red;
    bottom: 0;
    width: 6vw;
    height: 3vh;
    left: 14.29%;
    right: 0;
    position: absolute;
    display: inline-block;
}