<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bit.mapper.MemberMapper">

    <insert id="JoinMember" parameterType="MemberDto"> 
        insert into tblMember (email,pw,nick) values (#{email},#{pw},#{nick})
    </insert>

    <select id="CheckEmailExists" parameterType="string">
        select count(*) from tblMember where email=#{email}
    </select>

    <select id="CheckNickExists" parameterType="string">
        select count(*) from tblMember where nick=#{nick}
    </select>

    <select id="AuthLevelCheck" parameterType="string" resultType="MemberDto">
        select emailconfirm, phoneconfirm from tblMember where nick = #{nick}
    </select>
</mapper>