<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bit.mapper.MemberMapper">

    <insert id="insertJoinMember" parameterType="MemberDto"> 
        insert into tblMember (email, pw, nick, emailconfirm, phoneconfirm, socialtype) values (#{email},sha2(#{pw}, 256), #{nick}, #{emailconfirm}, 0, #{socialtype})
    </insert>

    <select id="selectCheckEmailExists" parameterType="string">
        select count(*) from tblMember where email=#{email} 
    </select>

    <select id="selectCheckNickExists" parameterType="string">
        select count(*) from tblMember where nick=#{nick}
    </select>

    <select id="AuthLevelCheck" parameterType="string" resultType="MemberDto">
        select emailconfirm, phoneconfirm from tblMember where nick = #{nick}
    </select>
    
    <select id="selectMypageDtoByEmail" parameterType="string">
        select * from vwMypage where email=#{email}
    </select>

    <select id="CheckMemberExists" parameterType="MemberDto" resultType="int">
        select exists(select * from tblMember where email = #{email} and socialtype = #{socialtype})
    </select>

</mapper>
