.mainwrapper-3,
.mainwrapper-3 * {
    box-sizing: border-box;
}
.mainwrapper-3 {
    background: linear-gradient(
            134.92deg,
            rgba(71, 189, 255, 1) 0%,
            rgba(182, 191, 255, 0.55) 34.89583432674408%,
            rgba(182, 191, 255, 0.1) 67.1875%,
            rgba(71, 189, 255, 1) 100%
    );
    width: 1920px;
    height: 969px;
    position: relative;
    overflow: hidden;
}
.center-outline-text {
    position: absolute;
    inset: 0;
}
.out-line-bottom-text {
    width: 1825px;
    height: 241px;
    position: static;
}
.make-a-stage {
    text-align: center;
    font: 400 220px/100% "BM Dohyeon", sans-serif;
    text-transform: uppercase;
    position: absolute;
    left: calc(50% - 928px);
    top: calc(50% - -18.5px);
    width: 1825px;
    height: 241px;
}
.out-line-top-text {
    width: 241px;
    height: 1690px;
    position: static;
}
.share-music {
    color: #ffffff;
    text-align: center;
    font: 400 220px/100% "BM Dohyeon", sans-serif;
    text-transform: uppercase;
    position: absolute;
    left: calc(50% - 825px);
    top: calc(50% - 201.5px);
    width: 1690px;
    height: 241px;
    transform-origin: 0 0;
    transform: rotate(0deg) scale(1, 1);
}
.bottom-right-text {
    position: absolute;
    inset: 0;
}
._2023-we-make-playlist-share-music {
    color: #141414;
    text-align: left;
    font: 700 24px "Space Grotesk", sans-serif;
    position: absolute;
    left: 199px;
    top: 30px;
    width: 217px;
    height: 96px;
    transform-origin: 0 0;
    transform: rotate(90deg) scale(1, 1);
}
.top-left-text {
    position: absolute;
    inset: 0;
}
._2023-we-make-plalist-share-music {
    color: #141414;
    text-align: left;
    font: 700 24px "Space Grotesk", sans-serif;
    position: absolute;
    right: -88px;
    bottom: -66px;
    width: 217px;
    height: 96px;
    transform-origin: 0 0;
    transform: rotate(-90deg) scale(1, 1);
}
.circle-main-section {
    position: absolute;
    inset: 0;
}
.circle-section {
    width: 737px;
    height: 800px;
    position: absolute;
    left: calc(50% - -400px);
    top: calc(50% - 302.5px);
    transform-origin: 0 0;
    transform: rotate(90deg) scale(1, 1);
}
.rectangle-3 {
    background: rgba(102, 84, 255, 0.5);
    border-radius: 500px;
    width: 794px;
    height: 794px;
    position: absolute;
    left: -101px;
    top: 797px;
    transform-origin: 0 0;
    transform: rotate(-90deg) scale(1, 1);
    filter: blur(25px);
}
.rectangle-4 {
    background: #272727;
    border-radius: 500px;
    width: 740px;
    height: 740px;
    position: absolute;
    left: -74px;
    top: 770px;
    transform-origin: 0 0;
    transform: rotate(-90deg) scale(1, 1);
}
.circle-img {
    position: absolute;
    inset: 0;
}
.rectangle-2 {
    width: 740px;
    height: 740px;
    position: absolute;
    left: calc(50% - 442.5px);
    top: calc(50% - -370px);
    transform-origin: 0 0;
    transform: rotate(-90deg) scale(1, 1);
}
.inline-top-text {
    position: absolute;
    inset: 0;
}
.share-music2 {
    color: #ffffff;
    text-align: center;
    font: 400 220px/100% "BM Dohyeon", sans-serif;
    text-transform: uppercase;
    position: absolute;
    left: calc(50% - 268.5px);
    top: calc(50% - -825px);
    width: 1690px;
    height: 241px;
    transform-origin: 0 0;
    transform: rotate(-90deg) scale(1, 1);
}

.inline-bottom-text {
    position: absolute;
    inset: 0;
}

.ma-ke-a-stage {
    color: #ffffff;
    text-align: center;
    font: 400 220px/100% "BM Dohyeon", sans-serif;
    text-transform: uppercase;
    position: absolute;
    left: calc(50% - 48px);
    top: calc(50% - -928.1px);
    width: 1825px;
    height: 241px;
    transform-origin: 0 0;
    transform: rotate(-90deg) scale(1, 1);
}
