.mainsection2 {
    width: 100vw;
    height: 100vh;
    background-color: white;
    cursor: none;
    overflow:hidden;
    max-width: 100%;
}

.main2img {
    width: 99vw;
    animation: moveRight 15s infinite alternate;
}

.mainsection2photogroup,
.mainsection2photogroup1 {
    position: relative;
    top: 10%;
    opacity: 0.6;
}

.mainsection2photogroup{
    margin-bottom: 20px;
}

.main2img2 {
    width: 99vw;
    animation: moveLeft 15s linear infinite alternate;
}


.mainsection2photogroup1{
    float: right;
}

.iphone13mokup{
    position: absolute;
    width: 40vw;
    display: flex;
    align-items: center;
    bottom: 0;
}
@keyframes moveRight {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}

@keyframes moveLeft {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@media (max-width: 1024px) {
    .mainsection2{
        max-width: 100vw;
    }

    .main2img,
    .main2img2 {
        width: 230vw;
    }
}

@media (max-width: 768px) {

    .main2img,
    .main2img2 {
        width: 230vw;
    }

    @keyframes moveRightSmall {
        0% {
            transform: translateX(-100%);
        }
        100% {
            transform: translateX(100%);
        }
    }

    @keyframes moveLeftSmall {
        0% {
            transform: translateX(100%);
        }
        100% {
            transform: translateX(-100%);
        }
    }

    .main2img {
        animation: moveRightSmall 25s linear infinite alternate;
    }

    .main2img2 {
        animation: moveLeftSmall 25s linear infinite alternate;
    }
}

