.mainsection2 {
    width: 100vw;
    height: 100vh;
    background-color: white;
    cursor: none;
    overflow:hidden;
    max-width: 100%;
}

.mainsection2gra{
    margin-top: 80px;
}

.main2img {
    width: 100vw;
    animation: moveRight 15s infinite ;
}

.main2img2 {
    width: 100%;
    height: auto;
    animation: moveLeft 15s infinite ;
}

.mainsection2photogroup,
.mainsection2photogroup1 {
    position: relative;
    top: 10%;
    opacity: 0.6;
}

.mainsection2photogroup{
    margin-bottom: 20px;
}

.mainsection2photogroup1{
    float: right;
}

.iphone13mokup{
    position: absolute;
    width: 40vw;
    display: flex;
    align-items: center;
    bottom: 0;
}

@keyframes moveRight {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
    transform: translate3d(-50%, 0, 0);
    }
}

@keyframes moveLeft {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(50%, 0, 0);
    }
}

@media (max-width: 1024px) {
    .mainsection2{
        max-width: 100vw;
    }

    .main2img,
    .main2img2 {
        width: 230vw;
    }
}

@media (max-width: 768px) {

    .main2img,
    .main2img2 {
        width: 230vw;
    }

    @keyframes moveRightSmall {
        0% {
            transform: translateX(-100%);
        }
        100% {
            transform: translateX(100%);
        }
    }

    @keyframes moveLeftSmall {
        0% {
            transform: translateX(100%);
        }
        100% {
            transform: translateX(-100%);
        }
    }

    .main2img {
        animation: moveRightSmall 25s linear infinite alternate;
    }

    .main2img2 {
        animation: moveLeftSmall 25s linear infinite alternate;
    }
}

.posthergroup{
    height: 40vh;
    width: 100%;
    position: absolute;
    left: 5%;
    margin-top: 250px;

}

.posther1{
    width: 15vw;
}

.posther2{
    width: 15vw;
    margin-left: 70px;
}

.posther3,
.posther4,
.posther5{
    width: 15vw;
    margin-left: 70px;
}