@font-face {
    font-family: 'BMDOHYEON';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BMHANNAAir';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.0/BMHANNAAir.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'KBO-Dia-Gothic_bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/KBO-Dia-Gothic_bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}


body {
    margin: 0;
    line-height: normal;
}
:root {
    /* fonts /
    --font-black-han-sans: "Black Han Sans";
    --font-bm-hanna_ttf: "BM HANNA_TTF";
    --font-bm-hanna-air: "BM Hanna Air";
    --font-kbo-dia-gothic: "KBO Dia Gothic";
    --font-bm-dohyeon: "BMDOHYEON";

    / font sizes /
    --font-size-5xl: 1.5rem;
    --font-size-21xl: 2.5rem;
    --font-size-7xs: 0.38rem;
    --font-size-4xs: 0.56rem;
    --font-size-smi: 0.81rem;
    --font-size-2xs: 0.69rem;
    --font-size-mid: 1.06rem;
    --font-size-lg: 1.13rem;
    --font-size-5xs: 0.5rem;

    / Colors /
    --color-white: #fff;
    --color-black: #000;
    --color-lightsteelblue: #b6d6ff;
    --color-gray-100: rgba(255, 255, 255, 0.4);
    --color-gray-200: rgba(0, 0, 0, 0.5);
    --color-chocolate: #ff8e3c;

    / Gaps /
    --gap-3xs: 0.63rem;

    / border radiuses */
    --br-xl: 20px;
    --br-31xl: 50px;
    --br-11xl: 30px;
    --br-12xs: 1px;
}

.icon {
    object-fit: cover;
}
.icon,
.maincenterbackimg {
    position: absolute;
    top: calc(50% - 325.73px);
    left: calc(50% - 370.14px);
    width: 46.27rem;
    height: 40.72rem;
}
.bit-team-3 {
    position: absolute;
    top: 0;
    left: 0;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    font-weight: 800;
}
.jam-juk-ja {
    position: absolute;
    top: 0;
    left: 0;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    font-weight: 800;
}
.mainbottomtext {
    position: absolute;
    top: 38.56rem;
    left: 1.19rem;
    width: 7.63rem;
    height: 1.13rem;
    text-align: center;
    font-size: 0.94rem;
    color: #000;
    font-family: Montserrat;
}
.centerwaterimg-icon,
.playbar-icon {
    position: absolute;
    top: calc(50% - 271.73px);
    left: calc(50% - 311.14px);
    width: 38.81rem;
    height: 33.94rem;
}
.playbar-icon {
    top: calc(50% + 227.27px);
    left: calc(50% - 125.14px);
    width: 15.56rem;
    height: 2.31rem;
}
.playlist {
    letter-spacing: -0.04em;
    display: inline-block;
}
.playlist,
.plioutlinetext {
    position: absolute;
    top: 0;
    left: 0;
    width: 19.38rem;
    height: 4.88rem;
}
.playlist1,
.plieinlinetext {
    position: absolute;
    left: 0;
    width: 19.38rem;
    height: 5rem;
}
.playlist1 {
    top: 0;
    letter-spacing: -0.04em;
    display: inline-block;
}
.plieinlinetext {
    top: 1.81rem;
    color: rgba(249, 255, 233, 0.81);
}
.centershadowtext {
    position: absolute;
    top: 18.56rem;
    left: 20.56rem;
    width: 19.38rem;
    height: 6.81rem;
    color: #d4ff00;
}
.stage,
.stageinlinetext {
    position: absolute;
    left: 0;
    width: 14.88rem;
    height: 5rem;
}
.stage {
    top: 0;
    letter-spacing: -0.04em;
    display: inline-block;
}
.stageinlinetext {
    top: 2.38rem;
}
.stage2 {
    margin: 0;
}
.stage1,
.stageoutlinetext {
    position: absolute;
    top: 0;
    left: 0;
    width: 14.88rem;
    height: 4.88rem;
}
.stage1 {
    letter-spacing: -0.04em;
    display: inline-block;
}
.stageoutlinetext {
    color: #d4ff00;
}
.bottomshadowtext {
    position: absolute;
    top: 24.63rem;
    left: 8.13rem;
    width: 14.88rem;
    height: 7.38rem;
}
.we-share-we,
.wepli {
    position: absolute;
    display: inline-block;
}
.wepli {
    top: calc(50% - 76px);
    left: calc(50% - 215px);
    line-height: 5rem;
    text-transform: uppercase;
    font-weight: 800;
    width: 22rem;
    height: 5.5rem;
}
.we-share-we {
    top: calc(50% + 24px);
    left: calc(50% - 213px);
    font-size: 2.63rem;
    font-family: "BM Dohyeon";
    width: 26.75rem;
}
.maintoptext {
    position: absolute;
    top: calc(50% - 282.73px);
    left: calc(50% - 327.14px);
    width: 26.88rem;
    height: 9.5rem;
    font-size: 5.63rem;
    color: #fff;
    font-family: Montserrat;
}
.maincentersection {
    position: absolute;
    top: calc(50% - 326.5px);
    left: calc(50% - 370px);
    width: 46.27rem;
    height: 40.72rem;
}
.loading-minimal-child,
.outline {
    position: absolute;
    height: 37.5%;
    top: 31.25%;
    bottom: 31.25%;
    left: 0;
    border-radius: 5px;
}
.outline {
    width: 92.59%;
    right: 7.41%;
    background-color: rgba(142, 181, 255, 0.6);
}
.loading-minimal-child {
    width: 1.85%;
    right: 98.15%;
    background-color: #000;
}
.b {
    position: absolute;
    top: -18.75%;
    left: 95.73%;
}
.loading-minimal {
    position: relative;
    width: 64.06rem;
    height: 1rem;
}
.loading,
.loadingbar {
    position: absolute;
    left: calc(50% - 500px);
    width: 62.5rem;
}
.loading {
    top: calc(50% - 12px);
    display: flex;
    flex-direction: row;
    padding: 0.5rem 0 0;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}
.loadingbar {
    top: calc(50% + 395.5px);
    height: 1.5rem;
    text-align: right;
    font-size: 1rem;
    color: #000;
    font-family: "Nunito Sans";
}
.maincenterround,
.maincenterround-child {
    position: absolute;
    left: calc(50% - 370px);
    width: 46.25rem;
    height: 40.63rem;
}
.maincenterround-child {
    top: calc(50% - 325px);
    border: 3px solid #fff;
    box-sizing: border-box;
}
.maincenterround {
    top: calc(50% - 326.5px);
}
.mainwrapper {
    position: relative;
    background: linear-gradient(
            135.26deg,
            #47bdff,
            rgba(182, 191, 255, 0.55) 33.33%,
            rgba(182, 191, 255, 0.1) 68.34%,
            #47bdff
    );
    width: 100%;
    height: 61rem;
    overflow: hidden;
    text-align: left;
    font-size: 5.38rem;
    color: rgba(249, 255, 233, 0.81);
    font-family: Epilogue;
}
